// Color variables
$color-pri: #E93B65;
$color-pri-70: rgba(233, 59, 101, 0.7);
$color-sec: #3A4B6A;
$color-ter: #BDD28B;
$color-quat: #FADEC4;
$color-quin: #32B9C1;
$color-quin-70: rgba(50, 185, 193, 0.7);
$color-grey-900: #212121;
$color-grey-700: #616161;
$color-grey-500: #9E9E9E;
$color-grey-300: #E0E0E0;
$color-grey-200: #EEEEEE;
$color-grey-100: #F5F5F5;
$color-grey-50: #FAFAFA;

$color-success: #DBFBD9;
$color-error: #FBD9D9;

$color-white-85: rgba(255, 255, 255, 0.85);