// Navigation menu
$item-pd-v: 10px;
$item-pd-h: 20px;

// App - container
$column-size: 50px;
$column-gap: 30px;

$tablet-screen: 991.98px;
$tablet-column-size: 30px;
$tablet-column-gap: 10px;

$phone-screen: 575.98px;
$phone-column-size: 10px;
$phone-column-gap: 5px;